.container {
    box-sizing: border-box;

    width: 100%;
    height: auto;
}

.title {
    box-sizing: border-box;
    display: block;
    text-align: left;

    width: 100%;

    font-size: 1.4rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    line-height: 1.5rem;
    letter-spacing: -1px;
}