.title {
    margin-bottom: 5px;
    display: block;
}

.icon {
    width: 2rem !important;
    height: 2rem !important;

    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    border-radius: 50px !important;

    color: var(--color-white) !important;
    background-color: var(--color-main) !important;
}

.message {
    opacity: 0.5;
    font-style: italic;
}