.container {
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.row,
.col {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    gap: 1rem;
}

.col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


.button {
    width: fit-content;
    margin: 2rem auto 0 auto;
}