.container {
    box-sizing: border-box;
    width: 100%;
    height: auto;

    padding: 1rem;

    border: 0;
    border-radius: 20px;

    box-shadow: 1px 1px 10px var(--color-shadow);

    background-color: var(--color-theme);
    overflow: hidden;
    cursor: pointer;
}

.row,
.col {
    box-sizing: border-box;
    display: flex;
}

.row {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.col {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: auto;
}

.col:last-child {
    justify-content: flex-start;
    align-items: flex-start;

}

.metaContainer {
    box-sizing: border-box;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media (prefers-color-scheme: dark) {
    .layer {
        background: linear-gradient(to bottom,
                rgba(20, 20, 20, 0.1) 0%,
                rgba(20, 20, 20, 0.15) 15%,
                rgba(20, 20, 20, 0.2) 20%,
                rgba(20, 20, 20, 0.25) 40%,
                rgb(20, 20, 20) 95%)
    }
}

@media only screen and (min-device-width: 960px) {
    .row {
        flex-wrap: nowrap;
        gap: 1rem;
    }
}