.operation {
    text-align: center;
    font-style: italic;
    font-weight: 300;
}


.row,
.col {
    box-sizing: border-box;
    display: flex;
}

.row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;

    width: 100%;
    height: 100%;

    padding: 1rem;
}

.col {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.col:nth-child(2) {
    justify-content: flex-start;
}

/* iPhone 5/SE Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

    .col:nth-child(2) {
        justify-content: center;
    }
}
