.row,
.col {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    height: auto;
    margin-bottom: 1rem;
}

.col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@media only screen and (min-device-width: 960px) {
    .container {
        max-width: var(--web-content-width);
        position: relative;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}