.row,
.col {
    box-sizing: border-box;
    display: flex;
    width: 100%;
}

.row {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    height: auto;
}

.col {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col:nth-child(1) {
    padding: 1rem;
}

.text {
    box-sizing: border-box;
    display: block;

    text-align: justify;
    font-size: 1rem;
}
